body {
    font-family: 'Edu NSW ACT Hand Pre', cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.box1 {
    box-sizing: border-box;
    padding: 20px;
    background-color: #529593;
    width: 400px;
    height: 200px;
    border: 10px, solid, black;
    display: flex;
}

.box2 {
    display: flex;
    box-sizing: border-box;
    background-color: #ffd000;
    border: solid, black;
    border-width: 10px 20px;
    margin-left: 400px;
}
.box3 {
    box-sizing: border-box;
    background-color: #c55352;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

p {
    margin: 0;
    display: flex;
}
